/*
    Name: Grace Lee
    Class: Web Development
    Assignment: HW3
    Last Modified: Oct 2nd 2024
*/
/* default styles */
body {
    background-color: #f2efed; /*fff7e1;*/
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin: 20px;
    padding: 20px; 
    border: 1px solid #e6dace; 
    border-radius: 15px; /* round corners */
    background-color: #e4dfdc; /*  background for container */
}


/* header section */
header {
    background: #4b443d; /*#f2b2a1;*/
    color: #f2efed;
    padding: 10px 0;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

/* EXTRA CREDIT special effect */
/* for navigation */
nav ul {
    list-style-type: none; /* remove list styling */
    padding: 0; /* remove padding */
    margin: 0; /* remove margin */
    display: flex; /* flexbox for horizontal layout */
    justify-content: center; /* center items */
}

nav li {
    margin: 0 20px; /* space between items */
    align-items: center; /* center align items */
}

nav a {
    border-radius: 10px; /* round corners */
    color: #f2efed; /* link color */
    text-decoration: none; /* no underline */
    padding: 10px; /* padding */
    transition: background-color 0.3s, color 0.3s; /* transition effect */
}

nav a:hover {
    background-color: #f2efed; /* change background on hover */
    color: #72675c; /* change text color on hover */
}


/* profile (left side) */
.profile {
    border-radius: 10px; /* round corners */
    width: 20%;
    padding: 20px;
    background: #c4b7ab;
    border: 2px solid #e6dace; /*c8dbd7;*/
}

.profile-pic {
    width: 100%;
    height: auto;
    border-radius: 80%; /* round image */
   
}

.summary {
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    background: #f2efed; /* background */
    border: 5px solid #e6dace; /* coral border */
}

/* icon*/
.icon-pic {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 0;
    height: auto;
}

.logo {
    margin: 0;
    padding-left: 0;
}

.main-content {
    width: 70%;
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}


/* core skills bullet */
.skills-list {
    list-style-type: square; /* square bullet*/
    padding-left: 20px; /* indent */
}

/* education table/section */
.education-table {
    margin-top: 10px;
    flex: 1;
    border-radius: 15px;
    border: 1px solid #d9bfb1; /*  solid border */
    overflow-x: auto; /* horizontal scroll */
    max-width: 100%; /* doesn't exceed the width of its container */
    margin-bottom: 15px;
}


.education-list, .projects, .education-table {
    flex: 1;
    background: #c4b7ab;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #e6dace; /* solid border */
}

table {
    width: 100%;
    margin-bottom: 20px; 
    border-collapse: separate; /*  separate borders */
    border-spacing: 0; /* remove spacing between cells */
    border-radius: 15px; /* round corners */
    overflow: hidden; /* hide overflow/ keep corners rounded */
}
    

th, td {
    padding: 10px;
    border: 1px solid #d9bfb1; /* Add borders for cells */
    text-align: left;
    border-bottom: 1px solid #ccc;
}


ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0; /* margin to lists */
}

/* change row colors */
tbody tr:nth-child(odd) {
    background-color: #f2efed; /* blue grey for odd rows */
}

tbody tr:nth-child(even) {
    background-color: #e4dfdc; /* white for even rows */
}


/*hobby section*/
.hobby {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    list-style-type: none; 
    padding: 10; 
    margin: 0; 
    border-radius: 10px;
}

.hobby li {
    flex: 1 0 30%; 
    margin: 10px; 
    background-color: #c4b7ab; /* Background color */
    padding: 20px; /* Padding for items */
    text-align: center; /* Center text */
    border-radius: 15px; 
    border: 1px solid #e4dfdc; /* Solid border */
    box-sizing: border-box;
}

.hobby-nav {
    margin-bottom: 20px; 
}

.hobby-nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex; 
    justify-content: center; 
}

.hobby li {
    margin: 0 20px; 
}

.hobby a {
    border-radius: 10px;
    color: #f2efed;
    text-decoration: none;
    padding: 10px; 
    transition: background-color 0.3s, color 0.3s; 
}

.hobby-nav a:hover {
    background-color: #f2efed; 
    color: #72675c; 
}





